In [14]:
import pandas as pd

In [15]:
uniprot_df = pd.read_csv("./data/Uniprot_output.tsv", sep='\t')

In [16]:
candidates_df = pd.read_excel('./data/candidateGenes_allPhenotypes.xlsx')
candidates = candidates_df['Gene'].dropna().to_list()

In [17]:
d = {}
candidates_ensg_list = []

d['GENE'] = 'ENSG'

for candidate in candidates:
    if candidate in uniprot_df['GeneNames'].to_list():
        ensg_tmp = uniprot_df[uniprot_df['GeneNames'] == candidate]['ENSGs'].values[0]
        ensg = ensg_tmp.split(',')[0]
        d[candidate] = ensg
        candidates_ensg_list.append(ensg)
    else:
        continue

df = pd.DataFrame.from_dict(d.items())
df.head()

        0                1
0    GENE             ENSG
1  ACTL7A  ENSG00000187003
2    AGPS  ENSG00000018510
3     AK7  ENSG00000140057
4     ALK  ENSG00000171094

In [18]:
df.to_csv('./data/candidateGenes.tsv', sep='\t', header=None, index=False)

In [19]:
pd.to_pickle(candidates_ensg_list, "./data/candidateGenesList.p")

### Create candidadate gene list for MMAF pathology

In [20]:
candidates_df = pd.read_excel('./data/candidateGenes_allPhenotypes.xlsx')
candidates_df = candidates_df[candidates_df['pathologyID'] =='MMAF']
candidates = candidates_df['Gene'].dropna().to_list()

In [21]:
d = {}
candidates_ensg_list = []

d['GENE'] = 'ENSG'

for candidate in candidates:
    if candidate in uniprot_df['GeneNames'].to_list():
        ensg_tmp = uniprot_df[uniprot_df['GeneNames'] == candidate]['ENSGs'].values[0]
        ensg = ensg_tmp.split(',')[0]
        d[candidate] = ensg
        candidates_ensg_list.append(ensg)
    else:
        continue

df = pd.DataFrame.from_dict(d.items())
df.head()

        0                1
0    GENE             ENSG
1     AK7  ENSG00000140057
2   ARMC2  ENSG00000118690
3  CCDC39  ENSG00000284862
4   DNAH8  ENSG00000124721

In [22]:
df.to_csv('./data/candidateGenes_MMAF.tsv', sep='\t', header=None, index=False)

In [23]:
pd.to_pickle(candidates_ensg_list, "./data/candidateGenesList_MMAF.p")

### Create candidadate gene list for NOA pathology

In [24]:
candidates_df = pd.read_excel('./data/candidateGenes_allPhenotypes.xlsx')
candidates_df = candidates_df[candidates_df['pathologyID'] =='NOA']
candidates = candidates_df['Gene'].dropna().to_list()

In [25]:
d = {}
candidates_ensg_list = []

d['GENE'] = 'ENSG'

for candidate in candidates:
    if candidate in uniprot_df['GeneNames'].to_list():
        ensg_tmp = uniprot_df[uniprot_df['GeneNames'] == candidate]['ENSGs'].values[0]
        ensg = ensg_tmp.split(',')[0]
        d[candidate] = ensg
        candidates_ensg_list.append(ensg)
    else:
        continue

df = pd.DataFrame.from_dict(d.items())
df.head()

       0                1
0   GENE             ENSG
1   AGPS  ENSG00000018510
2  APOA1  ENSG00000118137
3    ATM  ENSG00000149311
4   BRDT  ENSG00000137948

In [26]:
df.to_csv('./data/candidateGenes_NOA.tsv', sep='\t', header=None, index=False)

In [27]:
pd.to_pickle(candidates_ensg_list, "./data/candidateGenesList_NOA.p")