In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('./data/TranscriptsData/E-MTAB-5214-query-results.tpms.tsv', sep='\t', skiprows=4)
df = df[['Gene ID', 'Gene Name']]
df.rename(columns={'Gene ID': 'ENSG', 'Gene Name': 'GENE'}, inplace=True)

In [63]:
d = {}

d['GENE'] = 'ENSG'
df_header = pd.DataFrame.from_dict(d.items())
df_header.rename(columns={0: 'GENE', 1: 'ENSG'}, inplace=True)

In [64]:
df_final = pd.concat([df_header, df])
df_final.head()

     GENE             ENSG
0    GENE             ENSG
0  TSPAN6  ENSG00000000003
1    TNMD  ENSG00000000005
2    DPM1  ENSG00000000419
3   SCYL3  ENSG00000000457

In [66]:
df_final.to_csv('./data/canonicalGenes.tsv', sep='\t', header=None, index=False)